
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200&family=Poppins:wght@100;200;300;400;500;600&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   font-family: 'Poppins', sans-serif;


  
}

*:focus {
    outline: 0;
}
.head{
    background-color: black;
    background-size: 100% 100%; 
    width: 100%;
    
   



}

.card{

    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 70px;
    margin-right: 70px;
}

 .card .card-body h1 span{

    font-size: 1rem;

}

.card h2{
    color: #5d5d5d;
}

h2{
    margin-bottom:0 ;
}
hr{
    top:3rem;
}

h5{
    color: #5d5d5d;

    
}

h6{
    color: #999999;

    
}

p{
    font-size: 10px;
    color: #999999;
}

.space-90{
    height: 10rem;
}

.space-20{
    height: 5rem;
}

.card .card-body h6{
    margin-left: 0;
    

}






.contactForm .inputBox input{

    width: 80%;
    padding: 5px 0;
    font-size: 16px;
    margin: 15px 0;
    border: none;
    border-bottom: 1px solid rgb(141, 139, 139);
    outline: none;
    margin-top: 50px;

    margin-bottom: 30PX;

}

 .contactForm button .custom-btn {
    margin: 10px;
}
   
.contactForm .form-select-lg {
    padding-top: 0.5
rem
;
    padding-bottom: 0.5
rem
;
    padding-left: 1
rem
;
    font-size: 1.25rem;
   

    border: none;
    border-bottom: 1px solid rgb(141, 139, 139);

 border-radius: 0px;

 
}

.contactForm .form-select-lg .option{
     padding: 10px;
}

.contactForm .form-select-lg .option :hover{
    background-color: aliceblue;
}

.contactForm .form-select-lg option{
    color: #005c84;
    background: #eeecec;
}

.contactForm .form-select-lg option::selection{
    background: #fff;
}

 .custom{
    border-radius: 0;
    color: #d0d0d0; 
    background:#b8b8b8;
    width:30%;
    border:none;
    padding: 10px;
}

.custom2{

    color: #005c84;
    background:#fff; 
    width:20%;
    padding: 10px;
    border: 1px solid rgb(226, 223, 223);

}

.form-select form-select-lg:focus {
    outline: 1px dashed red;
  }

  .line{
      height: 1px;
      background: rgb(218, 215, 215);
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-right: 0;
      margin-right: 0;
     
  }

.amount{
    background-color: #d0d0d0;
}
  

.container {
    margin-top: 100px;
    padding: 32px;
  }
  
  .select-box {
    display: flex;
    
    flex-direction: column;
  }

  .select-box1 {
    display: flex;
    
    flex-direction: column;
  }
  
  .select-box .options-container {
    background: #f5f5f5;
    color: #041041;
    max-height: 0;
    
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
  
    order: 1;
    width: 80%;
  }

  .select-box1 .options-container1 {
    background: #f5f5f5;
    color: #041041;
    max-height: 0;
    
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
  
    order: 1;
    width: 80%;
  }

  

.select-box .option, .selected {
    cursor: pointer;
    padding: 5px;

}

.select-box1 .option1, .selected1 {
    cursor: pointer;
    padding: 5px;

}
  
  .selected {
    border-bottom: 1px solid #000;
    border-radius: 0px;
    margin-bottom: 8px;
    color: #000;
    position: relative;
    width: 80%;
    order: 0;
    margin-left: 0;
    padding-left: 0;
  }

  .selected1 {
    border-bottom: 1px solid #000;
    border-radius: 0px;
    margin-bottom: 8px;
    color: #000;
    position: relative;
    width: 80%;
    order: 0;
    margin-left: 0;
    padding-left: 0;
  }
  
  .selected::after {
    content: "";
    background: url("pic.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 20px;
    right: 10px;
    top: 5px;
    padding-right: 0;
    margin: 0;
   
  
    transition: all 0.4s;
  }

  .selected1::after {
    content: "";
    background: url("pic.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 20px;
    right: 10px;
    top: 5px;
    padding-right: 0;
    margin: 0;
   
  
    transition: all 0.4s;
  }
  
  .select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
  }

  .select-box1 .options-container1.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
  }
  
  .select-box .options-container.active + .selected::after {
    transform: rotateX(180deg);
    top: -6px;
  }

  .select-box1 .options-container1.active + .selected1::after {
    transform: rotateX(180deg);
    top: -6px;
  }
  
  .select-box .options-container::-webkit-scrollbar {
    width: 8px;
    background: #fff;
    border-radius: 0 8px 8px 0;
  }

  .select-box1 .options-container1::-webkit-scrollbar {
    width: 8px;
    background: #fff;
    border-radius: 0 8px 8px 0;
  }
  
  .select-box .options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 0 8px 8px 0;
  }

  .select-box1 .options-container1::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 0 8px 8px 0;
  }
  
  .select-box .option,
  .selected {
    padding: 12px 24px;
    cursor: pointer;
  }

  .select-box1 .option1,
  .selected1 {
    padding: 12px 24px;
    cursor: pointer;
  }
  
  .select-box .option:hover {
    background: #fff;
  }

  .select-box1 .option1:hover {
    background: #fff;
  }
  
  .select-box label {
    cursor: pointer;
  }

  .select-box1 label {
    cursor: pointer;
  }
  
  .select-box .option .radio {
    display: none;
  }
  


  .select-box1 .option1 .radio {
    display: none;
  }
  

  .form-control{
      
      
      background-color: #e9e8e8 !important;
  }


